<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS 공부하기</title>
</head>
<body>
    <!-- hear.ejs 가져오기 -->
    
    <%=name %> <!-- app.get("/byeong")에서 name 가져오기 -->
    <% for(let i = 0; i< fruits.length; i++) { %>
        <div>과일 이름: <%=fruits[i]  %></div>
    <% } %>
    <!-- ejs 태그 안에 오는 자바스크립트 코드는 한줄로 끝나야 함...아니면 에러가 발생한다.. -->
    <!-- ejs 태그 안에 바로 = 이 오면  = 뒤에 있는 변수나 값을 html로 노출 시킨다... -->
    <% for(let i =0; i < 10; i++){ %>
        <div>상품 번호<%= i %></div>
    <% } %>



</body>
</html>